@use "./base.scss";

blockquote{
  border-left: 0;
  padding-left: 0;
}


/* Rimozione del titolo del callout e ridimensionamento dei vari titoli dei paragrafi */
.transclude-src {
  display: none;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

blockquote h1 {
  font-size: 1.2em;
}

/* Rimuozione i titoli degli embed per evitare ripetizioni */
blockquote.transclude h1 {
  display: none;
}


.callout-title{
  padding-bottom: 0.2rem;
}

/* Aggiusta il colore del font del link */
a.internal{
  color: var(--darkgray);
}

// TODO: aggiustare le liste 
ol, ul{
  margin-top: -1em;
}